---
layout: main
---

<ul class="wayne-artical-list">
  {% for tag in site.tags %}
    {% for post in tag[1] %}
      <li class="tag_{{ tag[0] }}" style="display:none;">
        <a href="{{ post.url }}" class="wayne-artical-title">{{ post.title }}</a>
        <div class="wayne-artical-title-desc">{{ post.description }}</div>
      </li>
    {% endfor %}
  {% endfor %}
</ul>
<script language="javascript">
function getParam(name) {
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  decodeURI(r[2]); return null;
}
function displayTag( tag ) {
    var nodes = document.getElementsByClassName( 'tag_' + tag );
    if ( !nodes ) { return; }
    for ( var i=0; i < nodes.length; i++ ) {
        nodes[i].style.display = '';
    }
}
function init() {
    var tag = getParam( 'tag' );
    if ( !tag ) { return; }
    displayTag( tag );
}
init();
</script>


