
.wayne-body-post {
  background: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .wayne-body-post {
    background: #fff;
  }
}

.wayne-post-wrapper {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 80px 60px;
}

@media screen and (max-width: 767px) {
  .wayne-post-wrapper {
    width: 85%;
    margin: 100px auto 50px;
    padding: 0;
  }
}

.wayne-post-title,
.wayne-post-title a {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #000;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .wayne-post-title,
  .wayne-post-title a {
    font-size: 24px;
  }
}

.wayne-post-title:hover,
.wayne-post-title a:hover {
  text-decoration: none;
}

.wayne-post-prop {
  text-align: center;
  color: #999;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .wayne-post-prop {
    margin-bottom: 26px;
  }
}

.content-tag {
  padding: 2px 4px;
  font-size: 14px;
  background: #006798;
  color: #eee;
}

.wayne-post-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.wayne-post-content p {
  margin-bottom: 40px;
  line-height: 20px;
}

.wayne-post-content p + ul {
  margin-top: -20px;
}

.wayne-post-content ul {
  margin-bottom: 25px;
  margin-left: 25px;
}

.wayne-post-content ul li {
  margin-bottom: 5px;
  list-style: disc;
  line-height: 20px;
}

.wayne-post-content blockquote {
  margin-left: 25px;
  font-size: 14px;
  font-style: italic;
}

.wayne-post-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
}



